<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IBM Solutions</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
        <h2 class="logo"><strong>IBM</strong></h2>
      </div>
      <nav class="nav-bar">
        <ul>
          <li class="list-items"><%= link_to "Home", root_path, class: "list-links" %></li>
          <li class="list-items"><%= link_to "About Us", homepage_about_us_path, class: "list-links" %></li>
          <li class="list-items"><a href="#" class="list-links">Live Stations</a></li>
          <li class="list-items"><a href="#" class="list-links">Log In</a></li>
          <li class="list-items"><a href="#" class="list-links last-list-link">
            Sign Up</a></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <h3 class="bebas-font"><strong>CONTACT INFORMATION</strong></h3>
      <p>Email: ibmsolutions@gmail.com</p>
      <p>Phone number: +1 (734) 420 8008</p>
      <p>Other means of contact: lasers</p>
      <a class="contact-us-link bebas-font" href="#">CONTACT US</a>
    </footer>
  </body>
</html>
